# roles/docker/tasks/main.yml

- name: Install required packages
  dnf:
    name:
      - yum-utils
      - device-mapper-persistent-data
      - lvm2
    state: present
  become: yes

- name: Add Docker repository
  ansible.builtin.yum_repository:
    name: docker-ce
    description: Docker CE Stable - $basearch
    baseurl: https://download.docker.com/linux/centos/9/$basearch/stable
    gpgcheck: yes
    gpgkey: https://download.docker.com/linux/centos/gpg
    state: present
  become: yes

- name: Install Docker CE
  dnf:
    name: "docker-ce"
    state: present
  become: yes

- name: Start and enable Docker service
  service:
    name: docker
    state: started
    enabled: yes
  become: yes
